body {
    overflow: hidden;
    margin: 0px;
    background-color: black;
}

.background {
    position: relative;
    z-index: -1;
}

.backgroundImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.7;
    object-fit: fill;

    animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -webkit-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;
}

.main {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.mainTitle {
    font-size: 26px;
}

.mainLetter {
    font-size: 35px;
    white-space: pre-line;
    position: relative;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 0.7; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 0.7; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 0.7; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 0.7; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 0.7; }
}

/*#letterContainer {
    transition: 1s;
    left: 0;
}*/

.quote {
    left: -500px;
    position: relative;
    animation: letterSlide 1s forwards;
    padding: 0px;
    margin: 0px;
}

.quoteObject {
    padding: 0px;
    margin: 0px;
}

.quoteContainer {
    display: inline-block;
}

@keyframes letterSlide {
    100% { left: 0px; }
}