body {
    overflow: hidden;
    margin: 0px;
    background-color: black;
}

.background {
    position: relative;
    z-index: -1;
}

.backgroundImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.7;
    animation: fadeIn 2s;
}

.main {
    color: white;
}

.mainTitle {
    font-size: 26px;
}

.mainLetter {
    font-size: 35px;
    white-space: pre-line;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 0.7; }
  }